input {
  udp {
    port => 5000
    codec => plain
  }
}

filter {
  grok {
    match => { "message" => "%{SYSLOG5424PRI}%{SYSLOGTIMESTAMP} %{HOSTNAME} %{DATA}: %{GREEDYDATA:json_payload}" }
  }

  json {
    source => "json_payload"
  }

  date {
    match => ["time", "dd/MMM/yyyy:HH:mm:ss Z"]
    target => "@timestamp"
    remove_field => ["time"]
  }

  geoip {
    source => "remote_ip"
  }

  useragent {
    source => "agent"
    target => "useragent"
  }
}

output {
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "nginx"
  }

  stdout {
    codec => rubydebug
  }
}
